schemas/FS2019/brandColors.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xs:include schemaLocation="commonTypes.xsd"></xs:include>
    <xs:element name="brandColors">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="color" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="name" use="required" type="xs:NCName" />
                        <xs:attribute name="value" use="required" type="rgba" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
