schemas/FS2019/handTool.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="handTool">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="storeData">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="functions">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="function" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="image" type="xs:string" />
                            <xs:element name="price" type="xs:integer" />
                            <xs:element name="lifetime" type="xs:integer" />
                            <xs:element name="rotation" type="xs:integer" />
                            <xs:element name="brand" type="xs:NCName" />
                            <xs:sequence minOccurs="0">
                                <xs:element name="canBeSold" type="xs:boolean" />
                                <xs:element name="showInStore" type="xs:boolean" />
                            </xs:sequence>
                            <xs:element name="category" type="xs:NCName" />
                            <xs:element name="species" type="xs:NCName" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="handToolType" type="xs:NCName" />
                <xs:element name="filename" type="xs:string" />
                <xs:element name="handNode">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="firstPerson">
                                <xs:complexType>
                                    <xs:attribute name="node" />
                                    <xs:attribute name="position" use="required" />
                                    <xs:attribute name="rotation" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="thirdPerson">
                                <xs:complexType>
                                    <xs:attribute name="node" />
                                    <xs:attribute name="position" use="required" />
                                    <xs:attribute name="rotation" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="thirdPersonCutting" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute name="position" use="required" />
                                    <xs:attribute name="rotation" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:choice>
                    <xs:element name="chainsaw">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="equipment">
                                    <xs:complexType>
                                        <xs:attribute name="uvs" use="required" />
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="chain">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="animationNode">
                                                <xs:complexType>
                                                    <xs:attribute name="class" use="required" type="xs:NCName" />
                                                    <xs:attribute name="node" use="required" />
                                                    <xs:attribute name="scrollSpeed" use="required" type="xs:integer" />
                                                    <xs:attribute name="shaderParameterComponent" use="required" type="xs:integer" />
                                                    <xs:attribute name="speedFunc" use="required" type="xs:NCName" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="particleSystems">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="emitterShape" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:attribute name="emitCountScale" use="required" type="xs:integer" />
                                                    <xs:attribute name="node" use="required" />
                                                    <xs:attribute name="particleType" use="required" type="xs:NCName" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="ringSelector">
                                    <xs:complexType>
                                        <xs:attribute name="file" use="required" />
                                        <xs:attribute name="scaleOffset" use="required" type="xs:decimal" />
                                    </xs:complexType>
                                </xs:element>
                                <xs:element ref="sounds" />
                                <xs:element name="branchSounds">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="branch" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element ref="volume" />
                                                        <xs:element ref="pitch" />
                                                        <xs:element ref="lowpassGain" />
                                                    </xs:sequence>
                                                    <xs:attribute name="file" use="required" />
                                                    <xs:attribute name="innerRadius" use="required" type="xs:decimal" />
                                                    <xs:attribute name="linkNode" use="required" />
                                                    <xs:attribute name="outerRadius" use="required" type="xs:decimal" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="treeSounds">
                                    <xs:complexType>
                                        <xs:choice>
                                            <xs:element name="cutted" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element ref="volume" />
                                                        <xs:element ref="pitch" />
                                                        <xs:element ref="lowpassGain" />
                                                    </xs:sequence>
                                                    <xs:attribute name="file" use="required" />
                                                    <xs:attribute name="innerRadius" use="required" type="xs:decimal" />
                                                    <xs:attribute name="linkNode" use="required" />
                                                    <xs:attribute name="outerRadius" use="required" type="xs:decimal" />
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="cut" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element ref="volume" />
                                                        <xs:element ref="pitch" />
                                                        <xs:element ref="lowpassGain" />
                                                    </xs:sequence>
                                                    <xs:attribute name="file" use="required" />
                                                    <xs:attribute name="innerRadius" use="required" type="xs:decimal" />
                                                    <xs:attribute name="linkNode" use="required" />
                                                    <xs:attribute name="outerRadius" use="required" type="xs:decimal" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:choice>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="leftHandAnimcurve" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="key" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:attribute name="rotation" use="required" />
                                                    <xs:attribute name="time" use="required" type="xs:integer" />
                                                    <xs:attribute name="translation" use="required" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="quicktapThreshold" use="required" type="xs:decimal" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="highPressureWasherLance">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="lance">
                                    <xs:complexType>
                                        <xs:attribute name="pricePerMinute" use="required" type="xs:integer" />
                                        <xs:attribute name="raycastNode" use="required" />
                                        <xs:attribute name="washDistance" use="required" type="xs:integer" />
                                        <xs:attribute name="washMultiplier" use="required" type="xs:integer" />
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="effects">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="effectNode" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:attribute name="effectClass" type="xs:NCName" />
                                                    <xs:attribute name="effectNode" use="required" />
                                                    <xs:attribute name="emitCountScale" type="xs:integer" />
                                                    <xs:attribute name="materialType" type="xs:NCName" />
                                                    <xs:attribute name="materialTypeId" type="xs:integer" />
                                                    <xs:attribute name="particleType" type="xs:NCName" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element ref="sounds" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:element name="targets" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="target" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="rotationNode" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="id" use="required" type="xs:integer" />
                                                <xs:attribute name="rotation" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="ikChain" use="required" type="xs:NCName" />
                                    <xs:attribute name="targetNode" use="required" />
                                    <xs:attribute name="targetOffset" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="sounds">
        <xs:complexType>
            <xs:choice>
                <xs:element name="washing">
                    <xs:complexType>
                        <xs:attribute name="linkNode" use="required" />
                        <xs:attribute name="template" use="required" type="xs:NCName" />
                    </xs:complexType>
                </xs:element>
                <xs:sequence>
                    <xs:element name="start">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="volume" />
                                <xs:element ref="pitch" />
                                <xs:element ref="lowpassGain" />
                            </xs:sequence>
                            <xs:attribute name="file" use="required" />
                            <xs:attribute name="innerRadius" use="required" type="xs:decimal" />
                            <xs:attribute name="linkNode" use="required" />
                            <xs:attribute name="outerRadius" use="required" type="xs:decimal" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="stop">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="volume" />
                                <xs:element ref="pitch" />
                                <xs:element ref="lowpassGain" />
                            </xs:sequence>
                            <xs:attribute name="file" use="required" />
                            <xs:attribute name="innerRadius" use="required" type="xs:decimal" />
                            <xs:attribute name="linkNode" use="required" />
                            <xs:attribute name="outerRadius" use="required" type="xs:decimal" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="idle">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="volume" />
                                <xs:element ref="pitch" />
                                <xs:element ref="lowpassGain" />
                            </xs:sequence>
                            <xs:attribute name="file" use="required" />
                            <xs:attribute name="innerRadius" use="required" type="xs:decimal" />
                            <xs:attribute name="linkNode" use="required" />
                            <xs:attribute name="outerRadius" use="required" type="xs:decimal" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="cutStart">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="volume" />
                                <xs:element ref="pitch" />
                                <xs:element ref="lowpassGain" />
                            </xs:sequence>
                            <xs:attribute name="file" use="required" />
                            <xs:attribute name="innerRadius" use="required" type="xs:decimal" />
                            <xs:attribute name="linkNode" use="required" />
                            <xs:attribute name="outerRadius" use="required" type="xs:decimal" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="cutStop">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="volume" />
                                <xs:element ref="pitch" />
                                <xs:element ref="lowpassGain" />
                            </xs:sequence>
                            <xs:attribute name="file" use="required" />
                            <xs:attribute name="innerRadius" use="required" type="xs:decimal" />
                            <xs:attribute name="linkNode" use="required" />
                            <xs:attribute name="outerRadius" use="required" type="xs:decimal" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="cutLoop">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="volume" />
                                <xs:element ref="pitch" />
                                <xs:element ref="lowpassGain" />
                            </xs:sequence>
                            <xs:attribute name="fadeOut" type="xs:decimal" />
                            <xs:attribute name="file" use="required" />
                            <xs:attribute name="innerRadius" use="required" type="xs:decimal" />
                            <xs:attribute name="linkNode" use="required" />
                            <xs:attribute name="outerRadius" use="required" type="xs:decimal" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="quickTapSounds">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="quickTap" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element ref="volume" />
                                            <xs:element ref="pitch" />
                                            <xs:element ref="lowpassGain" />
                                        </xs:sequence>
                                        <xs:attribute name="file" use="required" />
                                        <xs:attribute name="innerRadius" use="required" type="xs:decimal" />
                                        <xs:attribute name="linkNode" use="required" />
                                        <xs:attribute name="outerRadius" use="required" type="xs:decimal" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="activeStart">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="volume" />
                                <xs:element ref="pitch" />
                                <xs:element ref="lowpassGain" />
                            </xs:sequence>
                            <xs:attribute name="file" use="required" />
                            <xs:attribute name="innerRadius" use="required" type="xs:decimal" />
                            <xs:attribute name="linkNode" use="required" />
                            <xs:attribute name="outerRadius" use="required" type="xs:decimal" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="activeStop">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="volume" />
                                <xs:element ref="pitch" />
                                <xs:element ref="lowpassGain" />
                            </xs:sequence>
                            <xs:attribute name="file" use="required" />
                            <xs:attribute name="innerRadius" use="required" type="xs:decimal" />
                            <xs:attribute name="linkNode" use="required" />
                            <xs:attribute name="outerRadius" use="required" type="xs:decimal" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="activeLoop">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="volume" />
                                <xs:element ref="pitch" />
                                <xs:element ref="lowpassGain" />
                            </xs:sequence>
                            <xs:attribute name="fadeOut" use="required" type="xs:decimal" />
                            <xs:attribute name="file" use="required" />
                            <xs:attribute name="innerRadius" use="required" type="xs:decimal" />
                            <xs:attribute name="linkNode" use="required" />
                            <xs:attribute name="outerRadius" use="required" type="xs:decimal" />
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="volume">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="speedModifier" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="percentage" use="required" type="xs:decimal" />
                        <xs:attribute name="speed" use="required" type="xs:decimal" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="indoor" use="required" type="xs:decimal" />
            <xs:attribute name="outdoor" use="required" type="xs:decimal" />
        </xs:complexType>
    </xs:element>
    <xs:element name="pitch">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="loadModifier" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="load" use="required" type="xs:decimal" />
                        <xs:attribute name="percentage" use="required" type="xs:decimal" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="indoor" use="required" type="xs:decimal" />
            <xs:attribute name="outdoor" use="required" type="xs:decimal" />
        </xs:complexType>
    </xs:element>
    <xs:element name="lowpassGain">
        <xs:complexType>
            <xs:attribute name="indoor" use="required" type="xs:decimal" />
            <xs:attribute name="outdoor" use="required" type="xs:decimal" />
        </xs:complexType>
    </xs:element>
</xs:schema>
