schemas/FS2019/handTool.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:include schemaLocation="storeData.xsd" />
    <xs:include schemaLocation="commonTypes.xsd" />
    <xs:element name="handTool">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="storeData" />
                <xs:element name="handToolType" type="xs:NCName" />
                <xs:element name="filename" type="xs:string" />
                <xs:element name="handNode">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="firstPerson" type="handNodeType" />
                            <xs:element name="thirdPerson" type="handNodeType" />
                            <xs:element name="thirdPersonCutting" minOccurs="0">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:restriction base="handNodeType">
                                            <xs:attribute name="node" use="prohibited" type="node"/>
                                        </xs:restriction>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:choice>
                    <xs:element name="chainsaw">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="equipment">
                                    <xs:complexType>
                                        <xs:attribute name="uvs" use="required" type="twoNumber"/>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="chain">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="animationNode">
                                                <xs:complexType>
                                                    <xs:attribute name="class" use="required" type="xs:NCName" />
                                                    <xs:attribute name="node" use="required" type="node"/>
                                                    <xs:attribute name="scrollSpeed" use="required" type="xs:integer" />
                                                    <xs:attribute name="shaderParameterComponent" use="required" type="xs:integer" />
                                                    <xs:attribute name="speedFunc" use="required" type="xs:NCName" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="particleSystems">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="emitterShape" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:attribute name="emitCountScale" use="required" type="xs:integer" />
                                                    <xs:attribute name="node" use="required" type="node"/>
                                                    <xs:attribute name="particleType" use="required" type="xs:NCName" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="ringSelector">
                                    <xs:complexType>
                                        <xs:attribute name="file" use="required" type="i3dFilepath" />
                                        <xs:attribute name="scaleOffset" use="required" type="xs:decimal" />
                                    </xs:complexType>
                                </xs:element>
                                <xs:element ref="sounds" />
                                <xs:element name="branchSounds">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="branch" maxOccurs="unbounded" type="soundType" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="treeSounds">
                                    <xs:complexType>
                                        <xs:choice>
                                            <xs:element name="cutted" maxOccurs="unbounded" type="soundType" />
                                            <xs:element name="cut" maxOccurs="unbounded" type="soundType" />
                                        </xs:choice>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="leftHandAnimcurve" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="key" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:attribute name="rotation" use="required" type="threeNumber"/>
                                                    <xs:attribute name="time" use="required" type="xs:integer" />
                                                    <xs:attribute name="translation" use="required" type="threeNumber"/>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="quicktapThreshold" use="required" type="xs:decimal" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="highPressureWasherLance">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="lance">
                                    <xs:complexType>
                                        <xs:attribute name="pricePerMinute" use="required" type="xs:integer" />
                                        <xs:attribute name="raycastNode" use="required" type="node"/>
                                        <xs:attribute name="washDistance" use="required" type="xs:integer" />
                                        <xs:attribute name="washMultiplier" use="required" type="xs:integer" />
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="effects">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="effectNode" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:attribute name="effectClass" type="xs:NCName" />
                                                    <xs:attribute name="effectNode" use="required" type="node" />
                                                    <xs:attribute name="emitCountScale" type="xs:integer" />
                                                    <xs:attribute name="materialType" type="xs:NCName" />
                                                    <xs:attribute name="materialTypeId" type="xs:integer" />
                                                    <xs:attribute name="particleType" type="xs:NCName" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element ref="sounds" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:element name="targets" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="target" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="rotationNode" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="id" use="required" type="xs:integer" />
                                                <xs:attribute name="rotation" use="required" type="threeNumber"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="ikChain" use="required" type="xs:NCName" />
                                    <xs:attribute name="targetNode" use="required" type="node"/>
                                    <xs:attribute name="targetOffset" type="threeNumber"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="sounds">
        <xs:complexType>
            <xs:choice>
                <xs:element name="washing" type="linkNodeType" />
                <xs:sequence>
                    <xs:element name="start" type="soundType" />
                    <xs:element name="stop" type="soundType" />
                    <xs:element name="idle" type="soundType" />
                    <xs:element name="cutStart" type="soundType" />
                    <xs:element name="cutStop" type="soundType" />
                    <xs:element name="cutLoop">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="soundType">
                                    <xs:attribute name="fadeOut" type="xs:decimal" />
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="quickTapSounds">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="quickTap" maxOccurs="unbounded" type="soundType" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="activeStart" type="soundType" />
                    <xs:element name="activeStop" type="soundType" />
                    <xs:element name="activeLoop">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="soundType">
                                    <xs:attribute name="fadeOut" use="required" type="xs:decimal" />
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="soundType">
        <xs:sequence>
            <xs:element name="volume">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="speedModifier" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="percentage" use="required" type="xs:decimal" />
                                <xs:attribute name="speed" use="required" type="xs:decimal" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="indoor" use="required" type="xs:decimal" />
                    <xs:attribute name="outdoor" use="required" type="xs:decimal" />
                </xs:complexType>
            </xs:element>
            <xs:element name="pitch">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="loadModifier" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="load" use="required" type="xs:decimal" />
                                <xs:attribute name="percentage" use="required" type="xs:decimal" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="indoor" use="required" type="xs:decimal" />
                    <xs:attribute name="outdoor" use="required" type="xs:decimal" />
                </xs:complexType>
            </xs:element>
            <xs:element name="lowpassGain" type="indoorOutdoorType" />
        </xs:sequence>
        <xs:attribute name="file" use="required" type="wavFilepath"/>
        <xs:attribute name="innerRadius" use="required" type="xs:decimal" />
        <xs:attribute name="linkNode" use="required" type="node"/>
        <xs:attribute name="outerRadius" use="required" type="xs:decimal" />
    </xs:complexType>
    <xs:complexType name="handNodeType">
        <xs:attribute name="node" type="node"/>
        <xs:attribute name="position" use="required" type="threeNumber"/>
        <xs:attribute name="rotation" use="required" type="threeNumber"/>
    </xs:complexType>
</xs:schema>
