schemas/FS2019/placeable.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:include schemaLocation="common/storeData.xsd" />
    <xs:include schemaLocation="common/commonTypes.xsd" />
    <xs:include schemaLocation="placeableSchemas/trainSystem.xsd" />
    <xs:include schemaLocation="placeableSchemas/placeableTypes.xsd" />
    <xs:include schemaLocation="placeableSchemas/bga.xsd" />
    <xs:include schemaLocation="placeableSchemas/woodCrusher.xsd" />
    <xs:include schemaLocation="placeableSchemas/animatedObjects.xsd" />
    <xs:include schemaLocation="placeableSchemas/stations.xsd" />
    <xs:include schemaLocation="placeableSchemas/dogHouse.xsd" />
    <xs:include schemaLocation="placeableSchemas/husbandry.xsd"/>
    <xs:include schemaLocation="placeableSchemas/leveling.xsd" />
    <xs:include schemaLocation="placeableSchemas/highPressureWasher.xsd"/>
    <xs:include schemaLocation="placeableSchemas/bunkerSilos.xsd"/>
    <xs:element name="placeable">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element minOccurs="1" maxOccurs="1" ref="storeData" />
                <xs:element minOccurs="1" maxOccurs="1" name="placeableType" type="xs:NCName" />
                <xs:element minOccurs="1" maxOccurs="1" name="filename" type="i3dFilepath" />
                <xs:element minOccurs="1" maxOccurs="1" name="placement">
                    <xs:complexType>
                        <xs:attribute name="alignToWorldY" type="xs:boolean" />
                        <xs:attribute name="placementPositionSnapOffset" type="xs:decimal" />
                        <xs:attribute name="placementPositionSnapSize" type="xs:decimal" />
                        <xs:attribute name="placementRotationSnapAngle" type="xs:integer" />
                        <xs:attribute name="pos1Node" type="node" />
                        <xs:attribute name="pos2Node" type="node" />
                        <xs:attribute name="pos3Node" type="node" />
                        <xs:attribute name="sizeX" use="required" type="xs:decimal" />
                        <xs:attribute name="sizeZ" use="required" type="xs:decimal" />
                        <xs:attribute name="testSizeX" use="required" type="xs:decimal" />
                        <xs:attribute name="testSizeZ" use="required" type="xs:decimal" />
                        <xs:attribute name="useManualYRotation" use="required" type="xs:boolean" />
                        <xs:attribute name="useRandomYRotation" use="required" type="xs:boolean" />
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="1" maxOccurs="1" name="baseMaterial">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="material">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="shaderParameter" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="name" use="required" type="xs:NCName" />
                                                <xs:attribute name="value" use="required" type="xs:NCName" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="baseNode" use="required" type="xs:NCName" />
                                    <xs:attribute name="name" use="required" type="xs:NCName" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="trigger" type="nodeType" />
                <xs:element ref="vehicle" />
                <xs:element ref="woodCrusher" />
                <xs:element ref="woodSellStation" />
                <xs:element ref="sellingStation" />
                <xs:element ref="activation" />
                <xs:element ref="gates" />
                <xs:element ref="signals" />
                <xs:element ref="sounds" />
                <xs:element ref="bga" />
                <xs:element ref="bunkerSilos" />
                <xs:element ref="highPressureWasher"></xs:element>
                <xs:element ref="loadingStation" />
                <xs:element ref="storage" />
                <xs:element ref="storages" />
                <xs:element ref="unloadingStation" />
                <xs:element ref="animatedObjects" />
                <xs:element name="clearAreas">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="clearArea">
                                <xs:complexType>
                                    <xs:attribute name="heightIndex" type="node" />
                                    <xs:attribute name="heightNode" type="node" />
                                    <xs:attribute name="startIndex" type="node" />
                                    <xs:attribute name="startNode" type="node" />
                                    <xs:attribute name="widthIndex" type="node" />
                                    <xs:attribute name="widthNode" type="node" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="dayNightObjects">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="dayNightObject" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="intensityDay" type="xs:integer" />
                                    <xs:attribute name="intensityNight" type="xs:integer" />
                                    <xs:attribute name="node" use="required" type="node" />
                                    <xs:attribute name="visibleDay" type="xs:boolean" />
                                    <xs:attribute name="visibleNight" type="xs:boolean" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="dogHouse" />
                <xs:element name="farmhouse">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="sleeping">
                                <xs:complexType>
                                    <xs:attribute name="cameraNode" use="required" type="xs:integer" />
                                    <xs:attribute name="triggerNode" use="required" type="xs:integer" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="spawnNode" use="required" type="xs:integer" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="foliageAreas">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="foliageArea" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute name="fruitType" use="required" type="xs:NCName" />
                                    <xs:attribute name="rootNode" use="required" type="node" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="hotspots">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="hotspot">
                                <xs:complexType>
                                    <xs:attribute name="category" use="required" type="xs:NCName" />
                                    <xs:attribute name="fullName" use="required" type="xs:string" />
                                    <xs:attribute name="hidable" use="required" type="xs:boolean" />
                                    <xs:attribute name="imageName" use="required" type="xs:NCName" />
                                    <xs:attribute name="linkNode" type="node" />
                                    <xs:attribute name="name" use="required" type="xs:string" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="husbandry" />
                <xs:element  ref="leveling" />
                <xs:element name="sellingPoint">
                    <xs:complexType>
                        <xs:attribute name="iconNode" use="required" type="node" />
                        <xs:attribute name="ownWorkshop" use="required" type="xs:boolean" />
                        <xs:attribute name="playerTriggerNode" use="required" type="xs:integer" />
                        <xs:attribute name="sellTriggerNode" use="required" type="xs:integer" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="tipOcclusionUpdateArea">
                    <xs:complexType>
                        <xs:attribute name="sizeX" use="required" type="xs:decimal" />
                        <xs:attribute name="sizeZ" use="required" type="xs:integer" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="triggerMarkers">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="triggerMarker" type="nodeType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="buyingStation" />
                <xs:element ref="trainSystem" />
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>
