schemas/FS2019/placeable.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:include schemaLocation="storeData.xsd" />
    <xs:include schemaLocation="commonTypes.xsd" />
    <xs:element name="placeable">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="storeData" />
                <xs:element name="placeableType" type="xs:NCName" />
                <xs:element name="filename" type="i3dFilepath" />
                <xs:element name="placement">
                    <xs:complexType>
                        <xs:attribute name="alignToWorldY" type="xs:boolean" />
                        <xs:attribute name="placementPositionSnapOffset" type="xs:decimal" />
                        <xs:attribute name="placementPositionSnapSize" type="xs:decimal" />
                        <xs:attribute name="placementRotationSnapAngle" type="xs:integer" />
                        <xs:attribute name="pos1Node" type="node" />
                        <xs:attribute name="pos2Node" type="node" />
                        <xs:attribute name="pos3Node" type="node" />
                        <xs:attribute name="sizeX" use="required" type="xs:decimal" />
                        <xs:attribute name="sizeZ" use="required" type="xs:decimal" />
                        <xs:attribute name="testSizeX" use="required" type="xs:decimal" />
                        <xs:attribute name="testSizeZ" use="required" type="xs:decimal" />
                        <xs:attribute name="useManualYRotation" use="required" type="xs:boolean" />
                        <xs:attribute name="useRandomYRotation" use="required" type="xs:boolean" />
                    </xs:complexType>
                </xs:element>
                <xs:choice minOccurs="0">
                    <xs:element ref="trigger" />
                    <xs:element ref="vehicle" />
                </xs:choice>
                <xs:element name="woodCrusher" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="moveTriggers">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="trigger" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="moveCollisions">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="collision" maxOccurs="unbounded" type="nodeType" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="crushEffects">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" ref="effectNode" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="animationNodes">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="animationNode" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="class" type="xs:NCName" />
                                                <xs:attribute name="node" use="required" type="node" />
                                                <xs:attribute name="rotAxis" type="xs:integer" />
                                                <xs:attribute name="rotSpeed" type="xs:integer" />
                                                <xs:attribute name="scrollSpeed" type="xs:decimal" />
                                                <xs:attribute name="shaderParameterComponent" type="xs:integer" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element ref="sounds" />
                        </xs:sequence>
                        <xs:attribute name="automaticallyTurnOn" use="required" type="xs:boolean" />
                        <xs:attribute name="cutNode" use="required" type="node" />
                        <xs:attribute name="cutSizeY" use="required" type="xs:decimal" />
                        <xs:attribute name="cutSizeZ" use="required" type="xs:integer" />
                        <xs:attribute name="downForce" use="required" type="xs:integer" />
                        <xs:attribute name="downForceNode" use="required" type="node" />
                        <xs:attribute name="mainDrumRefNode" use="required" type="node" />
                        <xs:attribute name="moveMaxForce" use="required" type="xs:integer" />
                        <xs:attribute name="priceScale" use="required" type="xs:decimal" />
                    </xs:complexType>
                </xs:element>
                <xs:choice minOccurs="0">
                    <xs:element name="sellingStation">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" ref="unloadTrigger" />
                                <xs:element maxOccurs="unbounded" ref="fillType" />
                            </xs:sequence>
                            <xs:attribute name="appearsOnPDA" use="required" type="xs:boolean" />
                            <xs:attribute name="fullPriceRecoverHours" use="required" type="xs:integer" />
                            <xs:attribute name="hotspotTextOffset" type="pixel2D" />
                            <xs:attribute name="litersForFullPriceDrop" use="required" type="xs:integer" />
                            <xs:attribute name="stationName" use="required" type="xs:string" />
                            <xs:attribute name="storageRadius" use="required" type="xs:integer" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="woodSellStation">
                        <xs:complexType>
                            <xs:attribute name="appearsOnPDA" use="required" type="xs:boolean" />
                            <xs:attribute name="hotspotTextOffset" type="pixel2D" />
                            <xs:attribute name="sellTrigger" use="required" type="xs:integer" />
                            <xs:attribute name="stationName" use="required" type="xs:string" />
                            <xs:attribute name="triggerNode" use="required" type="xs:integer" />
                        </xs:complexType>
                    </xs:element>
                    <xs:sequence>
                        <xs:element ref="activation" />
                        <xs:element ref="gates" />
                        <xs:element ref="signals" />
                        <xs:element ref="sounds" />
                    </xs:sequence>
                </xs:choice>
                <xs:element name="bga" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="bunker">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="unloadingStation" />
                                        <xs:element name="slot" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" ref="fillType" />
                                                    <xs:element name="display" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:attribute name="baseNode" use="required" type="node" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="capacity" use="required" type="xs:integer" />
                                                <xs:attribute name="litersPerSecond" use="required" type="xs:integer" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="digestateSilo">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="loadingStation" />
                                        <xs:element ref="storages" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element ref="sounds" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:choice minOccurs="0">
                    <xs:element name="bunkerSilos">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="bunkerSilo" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element ref="area" />
                                            <xs:element name="interactionTrigger" type="nodeType" />
                                        </xs:sequence>
                                        <xs:attribute name="acceptedFillTypes" use="required" type="xs:string" />
                                        <xs:attribute name="distanceToCompactedFillLevel" use="required" type="xs:integer" />
                                        <xs:attribute name="fermentingHours" use="required" type="xs:integer" />
                                        <xs:attribute name="inputFillType" use="required" type="xs:NCName" />
                                        <xs:attribute name="openingLength" use="required" type="xs:integer" />
                                        <xs:attribute name="outputFillType" use="required" type="xs:NCName" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="highPressureWasher">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="handtool">
                                    <xs:complexType>
                                        <xs:attribute name="filename" use="required" type="xmlFilepath" />
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="lance" type="nodeType" />
                                <xs:element ref="sounds" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="loadingStation" />
                    <xs:element ref="storage" />
                    <xs:element ref="storages" />
                    <xs:element ref="unloadingStation" />
                    <xs:element name="animatedObjects">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="animatedObject" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="animation">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="part" maxOccurs="unbounded">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="keyFrame" maxOccurs="unbounded">
                                                                        <xs:complexType>
                                                                            <xs:attribute name="rotation" use="required" type="threeNumber" />
                                                                            <xs:attribute name="time" use="required" type="xs:decimal" />
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                                <xs:attribute name="node" use="required" type="node" />
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                    <xs:attribute name="duration" use="required" type="xs:decimal" />
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="controls">
                                                <xs:complexType>
                                                    <xs:attribute name="negText" use="required" type="xs:NCName" />
                                                    <xs:attribute name="posAction" use="required" type="xs:NCName" />
                                                    <xs:attribute name="posText" use="required" type="xs:NCName" />
                                                    <xs:attribute name="triggerNode" use="required" type="node" />
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element ref="sounds" />
                                        </xs:sequence>
                                        <xs:attribute name="saveId" use="required" type="xs:NCName" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="clearAreas">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="clearArea">
                                    <xs:complexType>
                                        <xs:attribute name="heightIndex" type="node" />
                                        <xs:attribute name="heightNode" type="node" />
                                        <xs:attribute name="startIndex" type="node" />
                                        <xs:attribute name="startNode" type="node" />
                                        <xs:attribute name="widthIndex" type="node" />
                                        <xs:attribute name="widthNode" type="node" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="dayNightObjects">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="dayNightObject" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:attribute name="intensityDay" type="xs:integer" />
                                        <xs:attribute name="intensityNight" type="xs:integer" />
                                        <xs:attribute name="node" use="required" type="node" />
                                        <xs:attribute name="visibleDay" type="xs:boolean" />
                                        <xs:attribute name="visibleNight" type="xs:boolean" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="dogHouse">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="dog">
                                    <xs:complexType>
                                        <xs:attribute name="node" use="required" type="xs:integer" />
                                        <xs:attribute name="xmlFilename" use="required" type="xmlFilepath" />
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="ball">
                                    <xs:complexType>
                                        <xs:attribute name="filename" use="required" type="i3dFilepath" />
                                        <xs:attribute name="node" use="required" type="xs:integer" />
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="playerInteractionTrigger" type="nodeType" />
                                <xs:element name="bowl">
                                    <xs:complexType>
                                        <xs:attribute name="eatLocationNode" use="required" type="xs:integer" />
                                        <xs:attribute name="foodNode" use="required" type="node" />
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="nameplate" type="nodeType" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="farmhouse">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="sleeping">
                                    <xs:complexType>
                                        <xs:attribute name="cameraNode" use="required" type="xs:integer" />
                                        <xs:attribute name="triggerNode" use="required" type="xs:integer" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="spawnNode" use="required" type="xs:integer" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="foliageAreas">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="foliageArea" minOccurs="0">
                                    <xs:complexType>
                                        <xs:attribute name="fruitType" use="required" type="xs:NCName" />
                                        <xs:attribute name="rootNode" use="required" type="node" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="hotspots">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="hotspot">
                                    <xs:complexType>
                                        <xs:attribute name="category" use="required" type="xs:NCName" />
                                        <xs:attribute name="fullName" use="required" type="xs:string" />
                                        <xs:attribute name="hidable" use="required" type="xs:boolean" />
                                        <xs:attribute name="imageName" use="required" type="xs:NCName" />
                                        <xs:attribute name="linkNode" type="node" />
                                        <xs:attribute name="name" use="required" type="xs:string" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="husbandry">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="modules">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="module" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="config">
                                                            <xs:complexType>
                                                                <xs:choice>
                                                                    <xs:element name="fillPlane">
                                                                        <xs:complexType>
                                                                            <xs:attribute name="colorChange" type="xs:boolean" />
                                                                            <xs:attribute name="maxY" use="required" type="xs:decimal" />
                                                                            <xs:attribute name="minY" use="required" type="xs:decimal" />
                                                                            <xs:attribute name="node" use="required" type="node" />
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="area" />
                                                                </xs:choice>
                                                                <xs:attribute name="acceptedToolTypes" type="stringList" />
                                                                <xs:attribute name="animalLoadTriggerNode" type="node" />
                                                                <xs:attribute name="animalPlacesNode" type="xs:integer" />
                                                                <xs:attribute name="baleTriggerNode" type="xs:integer" />
                                                                <xs:attribute name="carryingCapacity" type="xs:integer" />
                                                                <xs:attribute name="exactFillRootNode" type="xs:integer" />
                                                                <xs:attribute name="filename" type="xmlFilepath" />
                                                                <xs:attribute name="fillType" type="xs:NCName" />
                                                                <xs:attribute name="fillTypes" type="xs:NCName" />
                                                                <xs:attribute name="fillUnitIndex" type="xs:integer" />
                                                                <xs:attribute name="heightNode" type="node" />
                                                                <xs:attribute name="husbandryFileName" type="xmlFilepath" />
                                                                <xs:attribute name="maxNumAnimals" type="xs:integer" />
                                                                <xs:attribute name="navmeshNode" type="node" />
                                                                <xs:attribute name="node" type="node" />
                                                                <xs:attribute name="placementRaycastDistance" type="xs:decimal" />
                                                                <xs:attribute name="rideableDeliveryHeightNode" type="node" />
                                                                <xs:attribute name="rideableDeliveryStartNode" type="node" />
                                                                <xs:attribute name="rideableDeliveryWidthNode" type="node" />
                                                                <xs:attribute name="size" type="xs:decimal" />
                                                                <xs:attribute name="startNode" type="node" />
                                                                <xs:attribute name="triggerNode" type="xs:integer" />
                                                                <xs:attribute name="type" type="xs:NCName" />
                                                                <xs:attribute name="widthNode" type="node" />
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                    <xs:attribute name="name" use="required" type="xs:NCName" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="placementRaycast">
                                    <xs:complexType>
                                        <xs:attribute name="distance" use="required" type="xs:integer" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="hasStatistics" use="required" type="xs:boolean" />
                            <xs:attribute name="saveId" use="required" type="xs:NCName" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="leveling">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="levelAreas">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="levelArea" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:attribute name="groundType" type="xs:NCName" />
                                                    <xs:attribute name="heightNode" use="required" type="node" />
                                                    <xs:attribute name="startNode" use="required" type="node" />
                                                    <xs:attribute name="widthNode" use="required" type="node" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="rampAreas" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="rampArea" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:attribute name="groundType" type="xs:NCName" />
                                                    <xs:attribute name="heightNode" use="required" type="node" />
                                                    <xs:attribute name="maxSlope" use="required" type="xs:integer" />
                                                    <xs:attribute name="rootNode" use="required" type="node" />
                                                    <xs:attribute name="startNode" use="required" type="node" />
                                                    <xs:attribute name="widthNode" use="required" type="node" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="maxEdgeAngle" use="required" type="xs:integer" />
                            <xs:attribute name="maxSlope" use="required" type="xs:integer" />
                            <xs:attribute name="maxSmoothDistance" use="required" type="xs:integer" />
                            <xs:attribute name="requireLeveling" use="required" type="xs:boolean" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="sellingPoint">
                        <xs:complexType>
                            <xs:attribute name="iconNode" use="required" type="node" />
                            <xs:attribute name="ownWorkshop" use="required" type="xs:boolean" />
                            <xs:attribute name="playerTriggerNode" use="required" type="xs:integer" />
                            <xs:attribute name="sellTriggerNode" use="required" type="xs:integer" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="tipOcclusionUpdateArea">
                        <xs:complexType>
                            <xs:attribute name="sizeX" use="required" type="xs:decimal" />
                            <xs:attribute name="sizeZ" use="required" type="xs:integer" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="triggerMarkers">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="triggerMarker" type="nodeType" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:choice minOccurs="0">
                    <xs:element name="baseMaterial">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="material">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="shaderParameter" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:attribute name="name" use="required" type="xs:NCName" />
                                                    <xs:attribute name="value" use="required" type="xs:NCName" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                        <xs:attribute name="baseNode" use="required" type="xs:NCName" />
                                        <xs:attribute name="name" use="required" type="xs:NCName" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="buyingStation">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" ref="loadTrigger" />
                                <xs:element ref="fillType" />
                            </xs:sequence>
                            <xs:attribute name="appearsOnPDA" use="required" type="xs:boolean" />
                            <xs:attribute name="fillSoundIdentifier" use="required" type="xs:NCName" />
                            <xs:attribute name="hotspotImageName" type="xs:NCName" />
                            <xs:attribute name="hotspotTextOffset" type="pixel2D" />
                            <xs:attribute name="showHotspotText" type="xs:boolean" />
                            <xs:attribute name="stationName" use="required" type="xs:string" />
                            <xs:attribute name="storageRadius" use="required" type="xs:integer" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="trainSystem">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="spline">
                                    <xs:complexType>
                                        <xs:attribute name="node" use="required" type="xs:integer" />
                                        <xs:attribute name="splineYOffset" use="required" type="xs:decimal" />
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="train">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element maxOccurs="unbounded" ref="vehicle" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="railroadCallers">
                                    <!-- FIXME: This is likely wrong, but neither base maps have anything the 
                                        <railroadCallers> element, so using this as the argument is good for now -->
                                    <xs:complexType>
                                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                            <xs:element name="railroadCaller" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="railroadCrossings">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="railroadCrossing" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element ref="activation" />
                                                        <xs:element ref="gates" />
                                                        <xs:element ref="signals" />
                                                        <xs:element ref="sounds" />
                                                    </xs:sequence>
                                                    <xs:attribute name="rootNode" use="required" type="xs:integer" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="trigger" type="nodeType" />
    <xs:element name="vehicle">
        <xs:complexType>
            <xs:attribute name="xmlFilename" use="required" type="xmlFilepath" />
        </xs:complexType>
    </xs:element>
    <xs:element name="effectNode">
        <xs:complexType>
            <xs:attribute name="controlPoint" type="fourNumber" />
            <xs:attribute name="effectClass" type="xs:NCName" />
            <xs:attribute name="effectNode" use="required" type="node" />
            <xs:attribute name="fadeTime" type="xs:decimal" />
            <xs:attribute name="materialType" type="xs:NCName" />
            <xs:attribute name="materialTypeId" type="xs:integer" />
            <xs:attribute name="maxBending" type="xs:integer" />
            <xs:attribute name="particleType" type="xs:NCName" />
        </xs:complexType>
    </xs:element>
    <xs:element name="sounds">
        <xs:complexType>
            <xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element name="moving">
                        <xs:complexType>
                            <xs:attribute name="fadeOut" use="required" type="xs:decimal" />
                            <xs:attribute name="file" use="required" type="wavFilepath" />
                            <xs:attribute name="innerRadius" use="required" type="xs:integer" />
                            <xs:attribute name="linkNode" use="required" type="node" />
                            <xs:attribute name="loops" use="required" type="xs:integer" />
                            <xs:attribute name="radius" use="required" type="xs:integer" />
                            <xs:attribute name="volume" use="required" type="xs:decimal" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="posEnd" type="endSoundType" />
                    <xs:element name="negEnd" type="endSoundType" />
                </xs:sequence>
                <xs:element name="idle" minOccurs="0" type="linkNodeType" />
                <xs:choice minOccurs="0">
                    <xs:element name="crossing" type="linkNodeType" />
                    <xs:element name="work">
                        <xs:complexType>
                            <xs:attribute name="fadeIn" type="xs:decimal" />
                            <xs:attribute name="fadeOut" type="xs:decimal" />
                            <xs:attribute name="file" type="wavFilepath" />
                            <xs:attribute name="innerRadius" type="xs:integer" />
                            <xs:attribute name="linkNode" use="required" type="node" />
                            <xs:attribute name="loops" type="xs:integer" />
                            <xs:attribute name="outerRadius" type="xs:integer" />
                            <xs:attribute name="template" type="xs:NCName" />
                        </xs:complexType>
                    </xs:element>
                    <xs:sequence>
                        <xs:element name="compressor" type="linkNodeType" />
                        <xs:element name="switch" type="linkNodeType" />
                    </xs:sequence>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="unloadTrigger">
        <xs:complexType>
            <xs:attribute name="baleTriggerNode" type="node" />
            <xs:attribute name="exactFillRootNode" type="node" />
        </xs:complexType>
    </xs:element>
    <xs:element name="fillType">
        <xs:complexType>
            <xs:attribute name="disablePriceDrop" type="xs:boolean" />
            <xs:attribute name="fillTypes" type="stringList" />
            <xs:attribute name="name" type="xs:NCName" />
            <xs:attribute name="pricePerLiter" type="xs:decimal" />
            <xs:attribute name="priceScale" type="xs:decimal" />
            <xs:attribute name="scale" type="xs:decimal" />
            <xs:attribute name="supportsGreatDemand" type="xs:boolean" />
        </xs:complexType>
    </xs:element>
    <xs:element name="activation">
        <xs:complexType>
            <xs:attribute name="endDistance" use="required" type="xs:integer" />
            <xs:attribute name="startDistance" use="required" type="xs:integer" />
        </xs:complexType>
    </xs:element>
    <xs:element name="gates">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="gate" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="closingOffset" type="xs:decimal" />
                        <xs:attribute name="duration" use="required" type="xs:integer" />
                        <xs:attribute name="endRot" type="threeNumber" />
                        <xs:attribute name="endTrans" type="threeNumber" />
                        <xs:attribute name="node" use="required" type="node" />
                        <xs:attribute name="startRot" type="threeNumber" />
                        <xs:attribute name="startTrans" type="threeNumber" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="signals">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="signal" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="alternatingLights" use="required" type="xs:boolean" />
                        <xs:attribute name="node" use="required" type="node" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="unloadingStation">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="unloadTrigger" />
            </xs:sequence>
            <xs:attribute name="appearsOnPDA" use="required" type="xs:boolean" />
            <xs:attribute name="appearsOnStats" type="xs:boolean" />
            <xs:attribute name="node" type="node" />
            <xs:attribute name="stationName" use="required" type="xs:string" />
            <xs:attribute name="storageRadius" use="required" type="xs:integer" />
        </xs:complexType>
    </xs:element>
    <xs:element name="loadingStation">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="loadTrigger" />
            </xs:sequence>
            <xs:attribute name="appearsOnPDA" use="required" type="xs:boolean" />
            <xs:attribute name="fillSoundIdentifier" use="required" type="xs:NCName" />
            <xs:attribute name="node" type="node" />
            <xs:attribute name="stationName" use="required" type="xs:string" />
            <xs:attribute name="storageRadius" use="required" type="xs:integer" />
        </xs:complexType>
    </xs:element>
    <xs:element name="storages">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="storage" />
            </xs:sequence>
            <xs:attribute name="perFarm" type="xs:boolean" />
        </xs:complexType>
    </xs:element>
    <xs:element name="area">
        <xs:complexType>
            <xs:attribute name="heightNode" use="required" type="node" />
            <xs:attribute name="startNode" use="required" type="node" />
            <xs:attribute name="widthNode" use="required" type="node" />
        </xs:complexType>
    </xs:element>
    <xs:element name="storage">
        <xs:complexType>
            <xs:attribute name="capacityPerFillType" use="required" type="xs:integer" />
            <xs:attribute name="costsPerFillLevelAndDay" type="xs:decimal" />
            <xs:attribute name="fillTypeCategories" type="xs:NCName" />
            <xs:attribute name="fillTypes" type="stringList" />
            <xs:attribute name="node" use="required" type="node" />
        </xs:complexType>
    </xs:element>
    <xs:element name="loadTrigger">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="effectNode" />
            </xs:sequence>
            <xs:attribute name="autoStart" type="xs:boolean" />
            <xs:attribute name="dischargeNode" type="node" />
            <xs:attribute name="fillLitersPerSecond" use="required" type="xs:integer" />
            <xs:attribute name="infiniteCapacity" type="xs:boolean" />
            <xs:attribute name="triggerNode" use="required" type="node" />
        </xs:complexType>
    </xs:element>
    <xs:complexType name="endSoundType">
        <xs:attribute name="file" use="required" type="wavFilepath" />
        <xs:attribute name="innerRadius" use="required" type="xs:integer" />
        <xs:attribute name="linkNode" use="required" type="node" />
        <xs:attribute name="radius" use="required" type="xs:integer" />
        <xs:attribute name="volume" use="required" type="xs:decimal" />
    </xs:complexType>
</xs:schema>
