schemas/groundTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="groundTypes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="groundType" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="fallbacks" use="required" />
                        <xs:attribute name="name" use="required" type="xs:NCName" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
